<nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
    <a class="navbar-brand" href="{% url 'index' %}">Zapisy studentów</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNavAltMarkup" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id=navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
