<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Wykaz Przedmiotow</h2>
{% for przedmiot in przedmioty %}
<h3> {{ forloop.counter}}:      {{ przedmiot.name }} </h3>
    <h4>{{ przedmiot.lecturer }} </h4>
    {% for student in przedmiot.students.all %}
        <p>&nbsp&nbsp&nbsp&nbsp{{ forloop.counter }}: {{ student.name }} {{ student.surname }}</p>
    {%endfor%}
{%endfor%}

<h2>Zapisy na zajęcia</h2>
{% if error %}
<p style="color: red;">Proszę uzupełnić wszystkie pola</p>
{% endif %}
{% if no_course %}
<p style="color: red;">Nie ma takiego przedmiotu</p>
{% endif %}
{% if signed %}
<p style="color: green;">Student został zapisany na zajęcia</p>
{% endif %}
{% if existed %}
<p style="color: saddlebrown;">Student był już przypisany do przedmiotu</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit">Zapisz się</button>
</form>

</body>
</html>


