{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<ol>
<h2>Zapisy na zajęcia</h2>
<h3>{{ name }}</h3>
{% if signed %}
<p style="color: green;">Student został zapisany na zajęcia</p>
{% endif %}
{% if existed %}
<p style="color: saddlebrown;">Student jest już przypisany do przedmiotu</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit">Zapisz się</button>
</form>

</body>
</html>
</ol>
{% endblock %}
